.about {
    background-color: var(--bgcolorsecondary);
    padding: 2em 1em;
    position: relative;
}

.about-container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 60em;
    gap: 2em;
}

.about-container .about-img img {
    max-width: 26em;
    height: 100%;
}

.about-container .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 55rem;
    
}

.about-content .heading {
    position: relative;
    z-index: 1;
    padding-bottom: 1.4em;
}

.about-content .about-heading h2 {
    font-size: var(--h2);
    font-weight: 500;
}

.about-content .about-heading p {
    position: absolute;
    left: 0px;
    top: -.60em;
    font-size: 3.5em;
    color: #BCB690;
    font-weight: 400;
    z-index: -1;
}

.about-content .about-details {
    font-weight: 100;
    font-size: .9em;
    padding-bottom: 1.8em;
    
}

.about-content .about-btn a {
    display: inline-block;
    padding: 15px 25px;
    background-color: var(--primarycolor);
    border: 2px solid;
    border-radius: 3px;
    box-shadow: 3px 3px 0px 1px;
    font-size: 1em;
    font-weight: 500;
    transition: .4s;
}

.about-content .about-btn a:hover {
    background: #f5b803;
    translate: 0px -5px;
}

.about .about-watermark {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background-color: var(--bgcolorshade);
}

@media (max-width: 960px) {
    .about-container {
        flex-wrap: wrap;
    }

    .about-container .about-img {
        margin: 0 auto;
    }
}

@media (max-width: 560px) {
    .about-container .about-img img {
        max-width: 23em;
    }
}

@media (max-width: 520px) {
    .about-container .about-img img {
        max-width: 20em;
    }

    .about-container .about-content .about-heading p {
        font-size: 2.5em; 
        top: -.45em;
    }
}

@media (max-width: 425px) {
    .about-container .about-img img {
        max-width: 16em;
    }
}

@media (max-width: 360px) {
    .about-container .about-img img {
        max-width: 13em;
    }
}

@media (max-width: 330px) {
    .about-container .about-content .about-heading h2 {
        font-size: 1.2em; 
    }
}